@media (max-width: 420px) {
  .order-item {
    margin-top: 150px;
  }
  .logo {
    align-items: center;
  }
  .chiken {
    width: 60px;
    align-items: center;
    margin-left: 50%;
  }
  .logo {
    margin-left: 70%;
  }
}
