@media (max-width: 480px) {
  /* ჰედერის ელემენტები */
  .header-wraper {
    padding: 10px;
  }
  .cover {
    display: flex;
    flex-direction: column; /* ელემენტები ერთმანეთის ქვეშ დალაგდება */
    align-items: center; /* ცენტრში გასწორდება */
    text-align: center; /* ტექსტი ცენტრში გასწორდება */
  }

  .logo {
    width: 25%; /* ლოგოს ზომა შემცირდება */
    margin-bottom: 10px;
  }

  h1 {
    font-size: 16px; /* სათაურის ზომა შემცირდება */
    padding: 0 5px;
  }

  /* ძირითადი ბლოკები */
  .main-block {
    flex-direction: column; /* ბლოკები ერთმანეთის ქვეშ დალაგდება */
    align-items: center; /* მთლიანი ბლოკი ცენტრში გასწორდება */
  }

  .box {
    width: 150px; /* თითოეული ბლოკის ზომა შემცირდება */
    height: auto;
    margin: 10px 0;
  }

  .box:hover {
    width: 160px; /* hover ეფექტი ოდნავ გაზრდის ბლოკს */
  }

  .box-img {
    width: 60%; /* სურათის ზომა შემცირდება, რათა უკეთესი იყოს მობილურზე */
  }

  /* ფუტერი */
  .divfooter {
    flex-direction: column;
    align-items: center;
  }

  .imgfacebook,
  .imgfacebook1 {
    position: static; /* მოძრავი ხატულები დაფიქსირებული პოზიციიდან შეიცვლება */
    margin: 10px; /* დაშორება დაემატება */
  }
}
