/*
 * ძირითადი სტილები
 */

body {
  font-family: "Noto Serif Georgian", serif;
}

h1 {
  font-size: 25px;
}

/*
 * ჰედერი
 */
.cover {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 120px;
  height: auto;
}

/*
 * ძირითადი სექცია
 */
.main-block {
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  display: flex;
  width: 250px;
  height: 250px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.box:hover {
  width: 290px;
}

.box-img {
  width: 70%;
  height: auto;
}

.box p {
  margin-top: 10px;
}

/*
 * ფუტერი
 */
footer {
  margin-top: 50px;
}

.divfooter {
  display: flex;
  background-color: antiquewhite;
  justify-content: center;
}

.imgfacebook {
  width: 50px;
  height: auto;
  align-items: center;
  margin-left: 15px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.imgfacebook:hover {
  width: 60px;
}

.imgfacebook1 {
  width: 50px;
  height: auto;
  position: fixed;
  right: 100px;
  bottom: 30px;
}

.imgfacebook1:hover {
  width: 60px;
}

/*
 * სხვა ელემენტები
 */
.chiken {
  width: 250px;
}

/* .weather-bar {
  margin-top: 10px;
} */
