.logo {
  background-color: aqua;
  display: inline-block;
  width: 150px;
  height: 150px;
  display: flex;
}


.navigation {
  background-color: aqua;
  display: inline-block;
  width: 800px;
}
/* .ul-item {
  display: inline;
  position: relative;
} */
.li-item {
  display: inline-block;
  margin: 10px;
}
